.App {
  text-align: center;
  background-color: #191c22;
}
 .App-logo-div{
  padding: 1rem;
  top: 0;

} 
.App-logo {
  object-fit: contain;
  height: 50px;
  pointer-events: none;
  
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: red;  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .items-container {
  margin-top: 2rem;
} */
.item__button{
  margin: 15px;
  padding: 10px;
  cursor: pointer;

}
.submit-button{
  margin: 15px;
  cursor: pointer;
}